<style>
  .nav-link{
    font-weight: 500;
  }
  
</style>
<nav class=""navbar navbar-expand-lg navbar-light bg-light>

    <!-- Navbar content -->
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light"style="background-color:white;">
    <a class="navbar-brand" href="#">CONCERT FEST</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <h3>|</h3>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"><i class="fa-solid fa-house"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"><i class="fa-solid fa-circle-info"></i>  About us</a>
            </li>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fa-solid fa-envelope"></i> Contact </a>
              </li>
         
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/users/bookinghistory"><i class="fa-solid fa-user"></i> Booked Events</a>
                </li>
                <% if(session && session.username){ %>
                <ul class="navbar-nav mr-auto">
                  
                      <li class="nav-item active">
                          <a href="/logout">
                              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-left: 820px;"><%= session.username %></button>
                          </a>
                      </li>
                 
              </ul><% } else{ %>
                <ul class="navbar-nav mr-auto">
                  
                      <li class="nav-item active">
                          <a href="/signup">
                              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-left: 820px;">Signup</button>
                          </a>
                      </li>
                 
              </ul>
             <% } %>
              
             
    </div>
  </nav>